<!-- <div class="hero-unit">
    <h1>Marionette-Require-Boilerplate</h1>
    <p>Boilerplate Marionette application to help you get started with the best tools and best practices</p>

    <p class="muted">
        You are viewing this application on
        {{#if mobile}}
        {{!"mobile" key in i18n file}}
        <strong>{{$ mobile}}</strong>
        {{else}}
        {{!"desktop" key in i18n file}}
        <strong>{{$ desktop}}</strong>
        {{/if}}.
    </p>
    <p>Part of the <a href="https:github.com/BoilerplateMVC/">BoilerplateMVC suite</a>.</p>
    <p>{{yeller "Marionette is great"}}</p>
</div> -->
<div class="container">
<div class="board row">
  <!-- These should be dynamic/in-JS/derived from data, too -->
  <div class="column col-xs-3" data-user-id="1">
    <div class="name">Winnie</div>
    <div class="cards" data-user-id="1"></div>
  </div>
  <div class="column" data-user-id="2">
    <div class="name">Bob</div>
    <div class="cards" data-user-id="2"></div>
  </div>
  <div class="column" data-user-id="3">
    <div class="name">Thomas</div>
    <div class="cards" data-user-id="3"></div>
  </div>
  <div class="column" data-user-id="4">
    <div class="name">George</div>
    <div class="cards" data-user-id="4"></div>
  </div>
</div>
</div>
